body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.dashboard {
  text-align: center;
  padding: 20px;
}

.widgets-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.widget {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.statuscontainer {
  margin-right: 1rem;
}
.statusdetail {
  font-size: "24px";
}
.statusSuccess {
  color: green;
}
.statusFail {
  color: red;
}

.citytitle {
  font-size: 24px;
  font-weight: bold;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.item {
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.noteInput {
  margin-bottom: 1rem;
}

.formInput {
  height: 2rem;
  margin-right: 1rem;
}

.outlined-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #033ebe;
  background-color: transparent;
  border: 2px solid #033ebe;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.outlined-button:hover {
  background-color: #033ebe;
  color: #fff;
}

.outlined-delete-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #be1603;
  background-color: transparent;
  border: 2px solid #be1603;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.outlined-delete-button:hover {
  background-color: #be1603;
  color: #fff;
}

.outlined-success-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  color: green;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.outlined-success-button:hover {
  background-color: green;
  color: #fff;
}

.taskDone {
  text-decoration: line-through;
  font-weight: bold;
  background-color: #3ec93e4d;
}

.taskText {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}